@import '~style/helpers';

.container { 
  background-image: url('../../assets/backgrounds/rain-ipad.jpg');
  color: #fff;
  width: 768px;
  height: 1024px;
  text-align: center;
  padding-top: 120px;
  margin: 0 auto;
 overflow: hidden;
}
.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 2;
}
.city {
	flex-direction: row;
	flex: 1;
	font-size: 5em;
	font-weight: 350;	
}
.country {
	font-size: 5em;
	font-weight: 350;	
}
.conditions {
	flex: 1;
	font-size: 1.7em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 5.2em;
	font-weight: 300;
	letter-spacing: -12px;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}


.hourlyBreakdown{
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
    margin-top : 20em;

  animation-duration: 3s;
  animation-name: slidedown;
}


.hourlyBreakdowna{
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
   margin-top : 15em;
  
  animation-duration: 3s;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
}
.Breakdowna{
   width: 200%;
   column-count : 2;
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
  
  animation-duration: 3s;
  animation-name: slideright;

  -webkit-animation-fill-mode: forwards;
}

.Breakdown{
   
   width: 200%;
   column-count : 2;
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
  
  animation-duration: 3s;
  animation-name: slideleft;

  -webkit-animation-fill-mode: forwards;
}

@keyframes slideleft {

  to {
    margin-left:-100%;  
  }
}
@keyframes slideright {

  to {
    margin-left:0%;
  
  }
}
@keyframes slidein {

  to {
    margin-top:0%;
  
  }
}
@keyframes slidedown {

  to {
    margin-top:20em;
  
  }
}
