@import '~style/helpers';

.container { 
	display: flex;
	flex-direction: column;
	background-image: url('../../assets/backgrounds/clear-iphone.jpg');
	color: #fff;
	width: 414px;
	height: 736px;
	text-align: center;
	padding-top: 80px;
	margin: 0 auto;
  overflow: hidden;
}

.header {
	display: flex;
	flex-direction: column;
	flex: 1;
}
.details {
	flex: 4;
}
.city {
	flex: 1;
	font-size: 1.7em;
	font-weight: 400;	
}
.conditions {
	font-size: 1em;
}
.temperature {
	flex: 2;
	margin-top: 0;
	font-size: 3em;
	font-weight: 300;
}
.filled:after {
	content: "°";
	margin: 0 0 0 1rem;
	font-size: 0.5em;
	font-weight: 100;
	display: inline-block;
	padding-top: 10px;
	vertical-align: top;
}

 .rows .row {
    display: inline-block;
 }

.column6{
    columns : 6
}


.hourlyBreakdown{
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
    margin-top : 20em;

  animation-duration: 3s;
  animation-name: slidedown;
}


.hourlyBreakdowna{
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
   margin-top : 15em;
  
  animation-duration: 3s;
  animation-name: slidein;
  -webkit-animation-fill-mode: forwards;
}
.Breakdowna{
   width: 200%;
   column-count : 2;
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
  
  animation-duration: 3s;
  animation-name: slideright;

  -webkit-animation-fill-mode: forwards;
}

.Breakdown{
   
   width: 200%;
   column-count : 2;
   background-color :rgba(0,0,0,0.2);
   border-color : rgba(0,0,0,0.4);
   border-top-style: solid;
   border-bottom-style: solid;
   padding: 10px;
  
  animation-duration: 3s;
  animation-name: slideleft;

  -webkit-animation-fill-mode: forwards;
}

@keyframes slideleft {

  to {
    margin-left:-100%;  
  }
}
@keyframes slideright {

  to {
    margin-left:0%;
  
  }
}
@keyframes slidein {

  to {
    margin-top:0%;
  
  }
}
@keyframes slidedown {

  to {
    margin-top:20em;
  
  }
}


